* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poltawski Nowy', serif;
    background: rgb(15, 34, 41);
    color: #c3d5d5;
    scroll-behavior: smooth;
    text-shadow: #1a1b1b 1px 0 10px;
    width: 100%;
}

/* Navbar Section */
.navbar {
    font-family: 'Poltawski Nowy', serif;
    display: flex;
    background: #3b5e6e;
    box-shadow: inset -21px -47px 79px black;
    justify-content: space-around;
    width: 100vw;
    border-radius: 9px;
    align-items: center;
    position: fixed;
}

.left img {
    width: 150px;
    height: 100px;
    filter: brightness(100);
}

.left img:hover {
    filter: brightness(0%);
    cursor: pointer;
    transform: scale(1.2);
}

.right ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

li {
    font-size: 2rem;
    list-style: none;
    margin: 0 25px;
}

li a {
    text-decoration: none;
    color: #c3d5d5;
}

li a:hover {
    color: #454646;
    transform: rotate(90deg);
}

/* Main Section */
/* Home Page */
.home {
    display: flex;
    justify-content: space-around;
    font-size: 2.5em;
    height: 90vh;
    align-items: center;
}

.intro {
    color: #454646;
}

/* About Section */
.name {
    color: purple;
}

#hero {
    display: flex;
    justify-content: space-around;
    margin: 65px 0;
    align-items: center;
    opacity: 12px;
}

#hero div {
    width: 40%;
}

.left-section {
    text-align: center;
    font-size: 2rem;
    margin: auto;
}

.right-section img {
    width: auto;
    height: 500px;
    box-shadow: 1px 14px 60px 2px rgb(41, 41, 121);
    border-radius: 100px;
}

.btn {
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    background: #3cdcf1;
    border-radius: 8px;
    font-size: large;
    font-weight: 500;
    margin: 6px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #081515;
    transition: 0.2s all ease-in-out;
}

.btn:hover {
    box-shadow: inset 2px 3px 22px;
    background: #454646;
    color: rgb(126, 191, 186);
    border: 2px solid #454646;
}

.btn:active {
    background: #c9d0d0;
    color: black;
}

.aboutme {
    max-width: 80vw;
    margin: auto;
    font-size: 3em;
    margin-top: 20px;
    font-family: 'Mochiy Pop One', sans-serif;
    color: #454646;
}

/* Skills Section */
.skills {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.4em;
    height: 90vh;
}

.left {
    text-align: center;
    width: 40%;
}

.right {
    width: 40%;
}

/* Contact Section */
.contact {
    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin-top: auto;
    height: 65vh;
    margin-top:.5em ;
}

pre{
    margin: -34px;
    padding: 4px;
}
.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .field input,
.contact .right form .textarea textarea {
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
    border-color: #b3b3b3;
}

.contact .right form .textarea textarea {
    padding-top: 10px;
    resize: none;
}

.contact .right form .button-area {
    display: flex;
    align-items: center;
}

.right form .button-area button {
    color: #fff;
    display: block;
    width: 160px !important;
    height: 45px;
    outline: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 6px;
    cursor: pointer;
    flex-wrap: nowrap;
    background: crimson;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}

.right form .button-area button:hover {
    color: crimson;
    background: none;
}

#subject{
   
        width: 39%;
        height: 38px;
}

label {
    font-weight: bold;
    font-size: 1em;
}

.text {
    font-size: 1.5em;
    
}

/* Footer Section */
footer {
    position: relative;
    /* margin-top: 1em; */
    /* top: 110px; */
    /* left: 90px; */
    text-align: center;
    display: flex;
    justify-content: space-between;
    background: #000;
    

}